.whole{
  width:1000px;
  margin: auto;
  padding:10px;
}

.input-area{
  border-width:1px;
	border-color: #006DD9;
	border-style: solid;
}

.input-div{
  width:900px;
  margin: auto;
  padding:10px;
}
.input-part{
  width:40%;
  float: left;
  padding-right: 10px;
}

.input-button{
  width:10%;
}

.input-text{
    margin: 0 left;
    font-size: 16px;
    size:50;
    height: 20px;
    border: none;
    outline: none;
    padding-bottom: 8px;
    width: 100%;
}

.input-title{
    font-size: 16px;
    float:left;
    width: 100%;
    border: none;
    outline: none;
    padding-top: 10px;
    box-sizing: border-box; /*横幅の解釈をpadding, borderまでとする*/
}


.text_underline{
  width:99%;
    position: relative; /*.text_underline::beforeの親要素*/
    border-top: 2px solid #c2c2c2; /*text3の下線*/
}

/*共通のstyle*/
.text_underline::before,
.text_underline::after{
    position: absolute;
    bottom: 0px;
    width: 0px;
    height: 2px;
    content: '';
    background-color: #3be5ae;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
}

.text_underline::before{
    left: 50%;
}

/*中央から左へのアニメーション*/
.text_underline::after{
    right: 50%;
}

.input-text:focus + .text_underline::before,
.input-text:focus + .text_underline::after{
    width: 50%;
}




.search_bar{
    padding-top: 5px;
    padding-bottom: 5px;
    display: flex; /*アイコン、テキストボックスを調整する*/
    align-items: center; /*アイコン、テキストボックスを縦方向の中心に*/
    justify-content: center; /*アイコン、テキストボックスを横方向の中心に*/
    height: 20px;
    width: 80%;

}

.search_icon{ /*アイコンに一定のスペースを設ける*/
    height: 15px;
    width: 15px;
    padding: 5px 5px;
}
